@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1C1C1E;
}

.fontS12 {
    font-size: 12px;
}
.fontS15 {
    font-size: 15px;
}
.fontS16 {
    font-size: 16px;
}
.fontS18 {
    font-size: 18px;
}
.fontS20 {
    font-size: 20px;
}
.fontS24 {
    font-size: 24px;
}
.fontS28 {
    font-size: 28px;
}
.fontS50 {
    font-size: 50px;
}
.fontW500 {
    font-weight: 500;
}
.fontW700 {
    font-weight: 700;
}
.fontW800 {
    font-weight: 800;
}
.productImg {
    width: 370px;
    height: 370px;
}
.userCart {
    width: 375px;
    height: 206px;
}

.W370 {
    width: 370px;
}
.H540 {
    height: 540px;
}
.H900 {
    height: 900px;
}

.h-min {
    height: min-content;
}

select {
    -webkit-appearance: none;
}

.custom {
    transition: 0.4s;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}   